@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="~/Images/Color logo - no background.png" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#about">About Us</a>
                <a class="nav-link" href="#contact">Contact Us</a>
                <a class="nav-link" href="#guide">Guide</a>
                <a class="nav-link" href="#sign">Sign In</a>
            </div>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<header class="hero bg-primary text-white text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Study Time Web App</h1>
        <p class="lead">Plan smarter, study better, achieve more.</p>
        <a href="#sign" class="btn btn-light btn-lg mt-3">Get Started</a>
    </div>
</header>


<body>

    <div class="Container">

        <header>
            
            <center><img class="logo"  src="Images/Color logo - no background.png" /></center> <br/>

        </header>
       

        <div class="Content">
            
            
            <center><h1 style="font-family:'Times New Roman', Times, serif; font-weight: bold">Study Time</h1></center>

            
            <center class="p">
                <p style="color: red">______________________________________________________________________________________________________</p>
            </center>           



            <div class="account" >

                <div class="Login" style="background-color:beige">

                    <button class="input" style="background-color: blanchedalmond; border-block-style: solid; border-color: red;" onclick="location.href='Login'" type="button">Login</button>



                </div>




                <div class="Register" style="background-color:blanchedalmond">


                    <button class="input" style="background-color: blanchedalmond; border-color: red; " onclick="location.href='Register'" type="button">Register</button>




                </div>

            </div>

         


        </div>


    </div>

    

</body>


