@page
@model ST10061533_StudyWebApp_POE.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Study Time</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChaukeStudyTimeWebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="Container">

        <header>

            <center><img class="logo" src="Images/Color logo - no background.png" /></center>

        </header>


        <div class="Content">

            <center><h1 style="font-family: 'Global Monospace'; font-weight: bold">Reset Password</h1></center>
            <center><small>Worry not you can reset your password</small></center>

            <div class="form">

                <form id="form" method="post">


                    <div id="Details">

                        <input class="input" type="text" id="text" name="UserNameReset" required>


                        <label class="label" id="details">User Name</label> <br />



                    </div>

                    <br />

                    <div id="Details">

                        <input class="input" type="password" id="Password" name="NewPasswordReset" required>


                        <label class="label" id="details">New Password</label> <br />


                    </div>

                    <br />
                    <br />
                    <input class="input" style="background-color:blanchedalmond; border-color: red" id="btn" type="submit" name="submit" value="Submit">




                </form>


            </div>



        </div>


    </div>



</body>
<center>

    <p style="font-size:3rem; color: red">

        @Model.message

    </p>

</center>
